[2019-03-28 17:55] soumith opened #1 "telugu support"
Hey, great repository.
I'd like to add Telugu support. If you have a framework I should follow to download Telugu wikipedia and train it, I'd love some instructions and get going

[2019-03-28 18:10] loretoparisi opened #2 "tamil support"
Thank you for this project. It would be worth to add Tamil support!

[2019-03-29 03:52] goru001 commented on #1
Thanks for the initiative!
I had a look at [Telugu Wikipedia Homepage](https://te.wikipedia.org/wiki/%E0%B0%AE%E0%B1%8A%E0%B0%A6%E0%B0%9F%E0%B0%BF_%E0%B0%AA%E0%B1%87%E0%B0%9C%E0%B1%80) and it looks like, it does not have all of its pages indexed by alphabets at the homepage like [some](https://hi.wikipedia.org/wiki/%E0%A4%AE%E0%A5%81%E0%A4%96%E0%A4%AA%E0%A5%83%E0%A4%B7%E0%A5%8D%E0%A4%A0) [other](h

[2019-03-29 03:56] soumith commented on #1
thanks a ton for the detailed pointers. @binga said he'd cleanup what he already has over here: https://github.com/binga/fastai_notes/tree/master/experiments/notebooks/lang_models and send a PR to inltk ( [reference](https://twitter.com/phanisrikanth33/status/1111379050096844805) ). I'll follow his lead and take up and tasks that he needs help on.

[2019-03-29 03:58] goru001 commented on #1
Okay - That'd be great!

[2019-03-29 04:28] jintgeorge opened #3 "error on calling setup(<'code-of-language'>)"
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-8-10fd8bfdd2d8> in <module>
----> 1 setup('ml')

~/anaconda3/lib/python3.7/site-packages/inltk/inltk.py in setup(language_code)
     21     loop = asyncio.get_event_loop()
     22     tasks = [asyncio.ensure_future(download(language_

[2019-03-29 04:42] goru001 commented on #3
Thanks for reaching out!
Can you please add info on how to reproduce this issue? I'm not able to reproduce.

[2019-03-29 06:50] jintgeorge commented on #3
Oh Wait !. I am running on a Mac. Might be the issue ?

[2019-03-29 07:26] goru001 commented on #3
This should not be an issue with running on a Mac. Are you able to reproduce it?
If not, I would suggest closing the current python session and running it again! It should work!

[2019-03-29 07:31] goru001 commented on #2
Thank you for the appreciation!
Yes, that's on the To Do list! It'd be great if you find someone who's willing to contribute!

[2019-03-29 08:33] gayatrivenugopal commented on #3
I am also getting an error on this line but the error is:
Traceback (most recent call last):
  File "test.py", line 3, in <module>
    setup('hi')
  File "/usr/local/lib/python3.7/site-packages/inltk/inltk.py", line 23, in setup
    learn = loop.run_until_complete(asyncio.gather(*tasks))[0]
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 568, in run_until_complete
    return future.

[2019-03-29 15:35] goru001 opened #5 "add gpu support"
Received feedback to add GPU support to cater the case when inference should be done on huge amounts of data! Creating the issue to track it!

[2019-03-29 15:39] soumendrak opened #6 "Windows 10 support"
Please add support for Windows platform.

[2019-03-29 16:31] goru001 commented on #3
@gayatrivenugopal It looks like your internet connection went down while downloading models. It should work out fine if you'll retry! When you call setup('hi'), we try to download model which is ~100-150 Mb in size, so need internet to work during that period!

[2019-03-29 21:18] amrit110 commented on #2
I'd like to try this. I saw your pointers for Telugu. I'll start from there!

[2019-03-30 02:41] ravi-annaswamy commented on #2
Gaurav and Amrit

last week I took your Hindi notebooks as a starting point for tamil. The wiki crawler did not work for tamil as is, so I switched to parse wikidump

After a few days of experiments I was able to use spm tokenizer and 60000 articles and get to perplexity in 35-40 range for tamil

Since I have all in one large notebook (wikiparser tokenizer model) I was planning to split to three n

[2019-03-30 02:46] ravi-annaswamy commented on #2
Amrit please continue to make your version, you may do it better than my result:)

[2019-03-30 03:55] ravi-annaswamy commented on #2
I have shared my Tamil LM notebook. Please note that this version was run on GCP, but should work with Colab or kaggle. Thanks.
https://github.com/ravi-annaswamy/tamil_lm_spm_fai

[2019-03-30 04:13] ravi-annaswamy commented on #2
Here are some wiki article (imagined) by the language model.

These are not facts, but we can see how well the grammar and even topicality and semantics are learned by it. This quality was unthinkable just a year ago. And hats of to Jeremy Howard for creating fastai code base and also tirelessly training all.

The model learns to properly open and close the tags. It creates well formed urls (thoug

[2019-03-30 11:25] goru001 commented on #3
@jintgeorge, @gayatrivenugopal I'll close this issue, as this doesn't seem to be a problem with iNLTK - feel free to reopen and get back with the instructions to reproduce!
Thank you!

[2019-03-30 11:25] #3 closed

[2019-03-30 15:36] goru001 commented on #2
Great work @ravi-annaswamy . One question though, I see from the notebook you shared that you had 400 files out of which you used 200 to build vocabulary and then build LM, was that choice made because of computational constraints? Approximately how many articles did those 200 files have?

Also, do you have the bandwidth to build something on top of this LM - may be a news classifier by scraping n

[2019-03-30 18:22] ravi-annaswamy commented on #2
First of all thanks Gaurav for the inspiration and the full recipe

It is an honor to be part of this initiative, with your recipe anyone could do it. So yes I will share the models and data similar to what you did

Some more notes below:

Sent from my iPhone

Let me do a proper rerun and count those.
Let me provide an easy to reproduce version this weekend

Yes that is a good idea I will do that

[2019-03-30 18:38] ravi-annaswamy commented on #2
I think the PR is the right thing
My work is simply extension of yours

Sent from my iPhone

[2019-03-31 12:18] goru001 commented on #2
Sure, let me know whenever you have the LM and Classifier.
Shout out in case you need any help!

Regarding those two new functions - Thanks for the idea! Let me put that into the To Do list, they'll be a great addition!

[2019-03-31 12:19] goru001 commented on #2
Sorry, I closed it by mistake! Ignore that part!

[2019-03-31 15:21] goru001 commented on #2
@ravi-annaswamy Just a heads-up, to save you from some pain - When you'll be exporting your model to upload to dropbox - make sure your tokenizer class TamilTokenizer is being imported from inltk.tokenizer i.e
1. Comment the TamilTokenizer class in your notebook
2. Create a inltk package (inltk folder with __init__.py file (which would be empty)) in the same directory as that of your notebook
3. C

[2019-03-31 15:58] ravi-annaswamy commented on #2
Gaurav, I really appreciate the care and in the instructions to help me out.

Today I started a fresh colab run for total reproducibility.  After that I will try to do the packaging as you have suggested. I just did a repull of ta-wiki and rebuilt spm for 8000 word vocab. And just about to create the tokenizer, so I will try your instructions right now.

I am really amazed by your dedication and c

[2019-04-01 17:28] KashyapKishore opened #7 "Assamese Support"
Please add Assamese language support. I'm ready to volunteer. Thank you.

[2019-04-02 04:41] goru001 commented on #7
Thanks for the initiative @KashyapKishore . Would you like to start by following the instructions mentioned [here](https://github.com/goru001/inltk/issues/1#issuecomment-477857250).

I checked [Assamese wikipedia homepage](https://as.wikipedia.org/wiki/%E0%A6%AC%E0%A7%87%E0%A6%9F%E0%A7%81%E0%A6%AA%E0%A6%BE%E0%A6%A4) and saw that it does contain index table. So, you'll be able to get all the articl

[2019-04-02 07:21] KashyapKishore commented on #7
Thank you Gaurav. Let's see... I will start it from today itself. Ping you later.

[2019-04-02 08:18] dikshan817 opened #8 "Gujarati Support"
I need Support for Gujarati NLP

[2019-04-02 08:42] goru001 commented on #8
Gujarati support is already there in iNLTK. Please checkout readme of the repository! If you're looking for some particular functionality, please specify!

[2019-04-02 08:42] #8 closed

[2019-04-02 08:54] dikshan817 commented on #8
Hi Gaurav,
Congratulate for your work....
I need support to identify NER in Gujarati.
--- Mr Dikshan Shah
SSAICS

On Tue, Apr 2, 2019 at 2:12 PM Gaurav <notifications@github.com> wrote:

[2019-04-03 04:12] dikshan817 opened #9 "needs inltk support for Gujarati NER in Windows"
I need iNLTK support for Gujarati NER in Windows 10.

[2019-04-03 08:43] goru001 commented on #9
The plan is to provide NER for all the Languages iNLTK, but that work is still in very early stages. I'm still working on collecting dataset. So, it's very difficult to commit on a timeline for me, but rest assured that it is being worked upon.

Also, you're welcome to contribute if you want to expedite the process for gujarati net.

[2019-04-03 16:00] AnushaMotamarri commented on #1
I have a Telugu dataset which contains 1,58,000 articles scraped from a news paper [https://github.com/AnushaMotamarri/Telugu-Newspaper-Article-Dataset](url) , and around 26,000 files scraped from 300 novels  [https://github.com/AnushaMotamarri/Telugu-Books-Dataset](url) . Datasets can be directly downloaded from links [https://drive.google.com/file/d/1IbqM335M7imzG-2ZV0d8-JbRqCnyAii3/view](url) a

[2019-04-04 08:23] goru001 commented on #1
@AnushaMotamarri  Thanks for reaching out! You would like to contribute with building Language Model? [@binga](https://github.com/binga) will be contributing the LM to iNLTK. So, it'd be great, in order to avoid duplicating efforts, if you could contribute with Telugu NER or translation.

[2019-04-04 14:26] AnushaMotamarri commented on #1
yes,
Is there any previous work done in any other language on NER or translation to iNLTK ?  It would be great if I can get some standard references to get started with.

[2019-04-05 06:08] goru001 commented on #1
No, I'd just started with it. So nothing in iNLTK yet.

[2019-04-05 18:38] AnushaMotamarri commented on #1
ok, i will work on them

[2019-04-06 06:36] Asrst commented on #1
Hey, I would love contribute my part and can I collaborate with you guys...

[2019-04-12 06:54] anuragshas opened #10 "Urdu and Kashmiri Support"
I would like to contribute for Urdu and Kashmiri language which are also one of the official languages in India and has Indian origins.
I have started working on Urdu Language using repo [NLP for Marathi](https://github.com/goru001/nlp-for-marathi). I have gathered around 350K wikipedia articles link and in process of scraping those articles. I have also added multiprocessing support for gathering

[2019-04-12 16:47] goru001 commented on #10
Thanks for the initiative, shout out if you need any help!

[2019-04-12 18:51] anuragshas commented on #10
I am falling short of memory while creating TextLMDataBunch with only 100K articles and 32K vocabulary. How much memory is required to create the data for language model?

[2019-04-13 10:25] goru001 commented on #10
It's advisable to not go beyond vocab length of 30k. Are you talking about GPU memory ? I've GTX 1080 Ti with 11 GB memory on which I trained all the models. You can train your models on Google Colab if you're having trouble with memory on your own gpu. If you were talking about RAM, i think 16gb should be fine!

[2019-04-15 10:18] anuragshas commented on #10
Thank you for the information. The issue was that single file was having over 350K character which was unable to tokenized and numericalized at once and loaded into main memory so I had to select fewer sentences and it worked.
I have also created LM for Maithili language having perplexity of 50. In search of news for classification task.
Side by side I am training on Urdu language with 150K articl

[2019-04-15 13:11] goru001 commented on #10
Good to know that it worked.
Yes, 350 articles seems too less. Try if you can get data from somewhere else.. news articles/govt. Websites etc.

[2019-04-17 21:02] mridulks commented on #7
I too will be interested.

[2019-04-18 07:48] goru001 commented on #1
@Asrst It will be worth tagging and asking @AnushaMotamarri  or @binga if you can help them out with something, or elaborating on how you would like to contribute!

[2019-04-18 07:50] sainathadapa commented on #1
I would like to contribute as well. @goru001 may be a gitter channel would help for easier/faster conversation here 🤔

[2019-04-18 08:00] goru001 commented on #1
@sainathadapa Yes right! [Here](https://gitter.im/inltk/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link) it is!

[2019-04-18 08:38] anuragshas commented on #10
I have completed for Urdu and here is the [link](https://github.com/anuragshas/nlp-for-urdu)

Resources for Kashmiri language is very scarce and some of them are paid, there are epaper websites having images. I am searching for more resources if possible or else I will have to drop it.

I am working on scraping maithili language news websites

[2019-04-22 23:50] praveenc1 commented on #1
Hi All, just wanted to introduce myself and see if I can help with something to add Telugu support. Please let me know if you have any initial thoughts on where I can contribute

PS: posted on the Gitter channel and wasn't sure if it was being monitored. So posting here.

[2019-04-23 18:31] goru001 commented on #1
Hi @praveenc1,  It will be worth tagging and asking @AnushaMotamarri or @binga if you can help them out with something. Or else, you can start with anything NER, Coreference resolution etc, almost everything is unexplored territory.

[2019-04-23 18:55] goru001 commented on #10
@anuragshas Thanks for the contribution! Would you like to raise a PR to add your model to iNLTK (I can help you with the process)

[2019-04-23 19:22] anuragshas commented on #10
You are welcome. I am really happy that I will be able to raise my first PR on github.
After going through the the code, I guess i will have to change config.py file but I am in doubt will I have to fine tune the all_languages_identifying_model

[2019-04-24 06:09] goru001 commented on #10
@anuragshas don't worry about all_languages_identifying_model. I will be fine tuning it to add Tamil language to iNLTK , I will tune it for Urdu as well.

As far as LM is concerned, we'll not be able to add it to iNLTK in the current form. Can you [follow these instructions](https://github.com/goru001/inltk/issues/2#issuecomment-478350926) and upload the saved model on dropbox and share it's link

[2019-04-28 05:31] goru001 commented on #10
@anuragshas You've been working on LM for Maithili as well, right? Can you share the Wikipedia Dataset you would've prepared for it? Because tuning language-classifier model again for Maithili will take time, I was about to train it for Tamil, Urdu, Telugu, so thought if we can add Maithili as well, that would be great!

[2019-04-28 05:58] anuragshas commented on #10
@goru001 Here is the link of [MaithiliWikiArticles](https://drive.google.com/open?id=15-Yy5Zfr7GIKEN0-d7kWMRGRhYamd6vH).
I have been busy searching for job, I will create PR for urdu lm as soon as I get free.

[2019-04-28 06:05] goru001 commented on #10
@anuragshas No issues! Good luck :).

[2019-05-16 12:04] anuragshas commented on #10
@goru001 I have uploaded the urdu model using the instructions mentioned [here](https://github.com/goru001/inltk/issues/2#issuecomment-478350926). Please let me know what changes shall I make to create PR

[2019-05-16 13:11] goru001 commented on #10
Once you've imported the Tokenizer, you need to load the pretrained model which you would have saved the last time, and then export. That is, just to be very clear, you don't need to retrain, just do learn.load('your_saved_model_after_training.pth')
And then,
learn.export('export.pkl').

Once you have this 'export.pkl' and 'tokenizer.model'(which is a result of unsupervised training by sentencepie

[2019-05-16 19:37] anuragshas commented on #10
pycache and .idea folder is already present to the repo shouldn't that be removed?

[2019-05-17 01:52] goru001 commented on #10
yes, you're right. That was a mistake when I'd first committed. I've removed those now! Thanks!

[2019-05-17 02:36] goru001 commented on #2
@ravi-annaswamy Thanks for the great work! I've added [your LM](https://github.com/goru001/nlp-for-tamil) to iNLTK, and trained the language classifier to to have support for tamil (and urdu).

Now, iNLTK's v0.3 supports Tamil as well. Thank you for your contribution.

I'll close this issue out, but feel free to re-open if there's anything.

[2019-05-17 02:36] #2 closed

[2019-05-17 06:05] ravi-annaswamy commented on #2
Awesome thank you !

Sent from my iPhone

[2019-05-19 08:10] goru001 commented on #6
**FYI for those who want to contribute:**

I haven't tried out iNLTK/Pytorch on windows, and because of time constraints I don't see that happening in the next 3-4 months. NER and Textual entailment are the two things I'm currently working on.

Having said that, If you're interested in helping, you should setup Pytorch + Fastai on Windows and take it from there! I don't think you need to fiddle ar

[2019-05-21 15:58] oltip opened #12 "Question?"
First of all, very great and easy code, written in a extremely simple way.
Just a question, as you are using Fastai I presume you are using language models trained with fastai on the wikitext or a similar corpus, right?

Would the embeddings change after having trained a model for a classification task?

Last thing, do you have any idea how BERT embeddings  could be different?

[2019-05-22 08:39] TviNet opened #13 "POS tagging"
https://universaldependencies.org/ has labelled data for parts of speech, dependencies and information about morphology for Hindi, Sanskrit, Marathi, Tamil and Telugu.
I plan on using a LM-LSTM-CRF architecture for sequence tagging. However the language models in iNLTK use sentencepiece tokens. Could anyone guide me through using the existing lm for word tokens or do I need to retrain the word emb

[2019-05-23 03:29] goru001 commented on #12
Thank you for the appreciation.
Language Models have been trained on their respective Wikipedia corpus - which is available for download in Language specific repositories linked in README. The embeddings that iNLTK provides are essentially the weights of first layer in encoder. Since for classification, the LM has been fine tuned over classification dataset, It didn't make sense to me use those em

[2019-05-23 03:29] #12 closed

[2019-05-23 03:58] goru001 commented on #13
@TviNet Thanks for reaching out!
I glanced over [LM-LSTM-CRF repo](https://github.com/LiyuanLucasLiu/LM-LSTM-CRF), and saw that they're considering every space separated word as a token. I think you can do that for Indic languages as well. But in this case you might not be able to use transfer learning (use pretrained LMs ) (I might be wrong here, need to dig deep into repo, but a quick glance at

[2019-05-23 04:16] goru001 opened #14 "Unified Language Model"
The work I've done for unification of all models is up to the extent you can find [in this repo](https://github.com/goru001/indian-language-classifier).
Before training the classifier, I train a LM for all the languages, which needs to be improved, so that it can be used standalone for all the languages. I plan to come back to this after NER, POS, Textual Entailment. If you're interested, you can

[2019-05-23 19:00] TviNet commented on #13
I tried averaging subtokens and then an LSTM+CRF which gave decent results for Hindi ( 13k train sentences, 96.3% accuracy) but not for Tamil (400 train sentences, 87% accuracy). Other languages similarly have very few training samples.

[2019-05-25 06:24] goru001 commented on #13
Yes, that's why I think using transfer learning is important here, especially for low resource languages.

[2019-05-26 05:34] goru001 commented on #6
Thanks to @ibrahiminfinite, we can now close this issue. @ibrahiminfinite tested iNLTK on Windows 10 and things seem to be running fine (related [PR](https://github.com/goru001/inltk/pull/15)). Installation instructions have been added to README.

Feel free to report any issues. Thanks!

[2019-05-26 05:34] #6 closed

[2019-06-11 06:57] deepufrk opened #19 "plaigarism checker in malayalam"

[2019-06-11 06:57] #19 closed

[2019-06-25 10:15] gayatrivenugopal opened #20 "Word Embeddings"
Hi,
     1. Have you extracted the word embeddings for Hindi from the ULMFiT pre-trained model?
     2. Is that code public?
     3. How can we fine-tune the model with our own dataset and extract embeddings from the new model?

Thanks.

[2019-06-25 11:33] goru001 commented on #20
@gayatrivenugopal Thanks for reaching out!

Yes, I've extracted the word embeddings from ULMFiT Language Model - which I'd trained on whole of Hindi wikipedia. All of the code, trained LM, dataset is open source and is available in [NLP for Hindi](https://github.com/goru001/nlp-for-hindi) repository. You can fine tune the LM for your own dataset, as I'd done for Hindi classification (code availabl

[2019-06-25 11:35] goru001 commented on #20
I'll close this issue. Feel free to reopen if there's anything. Thanks!

[2019-06-25 11:35] #20 closed

[2019-06-26 06:21] gayatrivenugopal commented on #20
Thanks, I'm facing trouble in understanding the structure of the dataset required to train the model and the process of fine-tuning. My requirement is only to create a model (from Wiki data + my own dataset of stories) from which I can extract extract embeddings for a given token. Will try soon and let you know.

[2019-06-26 16:07] goru001 commented on #20
Checkout [this notebook](https://github.com/goru001/nlp-for-hindi/blob/master/classification-bbc-news/Hindi_Classification_Model-BBC_Hindi_News_Data.ipynb). Here I'm creating LM from (Wiki data + classifier data). You can replace classifier data with your data.

[2019-06-27 03:16] gayatrivenugopal commented on #20
Thanks, will try.

[2019-07-16 15:07] goru001 opened #22 "Typo fix: 'malyalam' to 'malayalam'"
Some amount of work for this was done [here](https://github.com/goru001/inltk/pull/21). Checkout [this](https://github.com/goru001/inltk/pull/21#discussion_r299941833) comment to see what it lacked.

[2019-08-13 06:37] ankur220693 commented on #10
I am working on Maithili.
 Does inltk now supports maithili ?

[2019-08-15 10:12] goru001 commented on #10
@ankur220693 not yet! Feel free to contribute and raise a PR. Let me know if you need some help along the way.

[2019-08-19 10:16] anuragshas commented on #10
@ankur220693 I am actually short of data for working on maithili. The model that I had created was overfitting therefore I had to put it on hold. If you can help us gather maithili text from a reliable source then please let us know

[2019-11-11 05:19] vishwasgpai commented on #1
@goru001 After training on new Language how to integrate that model in inltk to get sentence vector?

[2019-11-11 09:22] gauravgola96 opened #23 "Machine Translation"
Any module for English to Indian lang translation will be added to inltk in upcoming release?

[2019-12-01 12:23] goru001 commented on #23
@gauravgola96 I do plan to add translation support but there's no ETA.

[2019-12-03 05:22] #23 closed

[2019-12-16 07:07] Adarshreddyash commented on #1
I haven't found a great source for Telugu languages. We shall make a collection by scraping the data from Telugu webpages

[2020-01-17 07:20] vijender412 opened #36 "Improving English model"
Thanks for sharing. It's really helpful and looking forward to make it to next level with help of Bert and SQUAD dataset. Looking only for get similar utterances function.

**Reason**: Suppose query was "What is machine learning?"

**Results** with default degree_of_aug =0.1 was ['what is machine learn','what is machine thinking','what is mortar learning','what is tank learning','what is rifle lea

[2020-03-01 06:21] octalpixel opened #40 "How to do emotion classification? #helprequest"
Hi
Could you give me some advise on doing emotion classification and sentiment analysis for Tamil ?

[2020-03-01 08:06] goru001 commented on #40
@octalpixel Checkout [this notebook](https://github.com/goru001/nlp-for-tamil/blob/master/classification/Tamil%20News%20Text%20Classifier%20Three%20Class.ipynb) - you should be able to do sentiment analysis by substituting your sentiment analysis data in place of news classification.

Feel free to reopen the issue if you have any other questions.

[2020-03-01 08:06] #40 closed

[2020-03-15 08:42] octalpixel opened #41 "Integrating with HuggingFace Transformer"
Hi,
Could you give me some insights whether is possible to plug in inltk with huggingface transformer library

[2020-04-09 05:37] parmarsuraj99 commented on #41
I was looking for the same. Maybe we can use multi-lingual transformers. But the question is how to tokenize Indian Languages which have different structure. Is there any way to break them for BPE.
I am eager to work on this and contribute.

[2020-04-09 06:50] avinsit123 opened #43 "Hindi NER Support for Inltk"
Currently we are working on research project for NER in Hindi. We would like to extend our code and work to add Support for Hindi-NER in NLTK. Our current model(Embeddings->LSTM->CRF) is trained on this dataset http://ltrc.iiit.ac.in/ner-ssea-08/index.cgi?topic=2 with 14 tags and has an accuracy around 70%. We are trying to increase the accuracy of model currently. Do you have any contribution gui

[2020-04-10 16:10] goru001 commented on #43
@avinsit123 Thanks for reaching out. It would be great to integrate your work into the iNLTK library.

In order to add support for Hindi NER, it would be great if you can:

1. Open source your work with Links to Train/Test Data, Approach, Trained Model and Scripts to reproduce the results.
2. Do you also want to support training of the model through iNLTK on custom data in addition to exposing the

[2020-04-10 19:09] goru001 commented on #41
@octalpixel , @parmarsuraj99 Thanks for reaching out. Currently, it isn't straightforward/possible to integrate it with the transformers library. I'll be have contributions from the community to help with it.

[2020-04-11 05:38] parmarsuraj99 commented on #41
So, we just need a tokenizer trained on Indian languages separately and then we just plug it directly to a LM? Maybe Hindi on SentencePiece attached to HuggingFace BERT. Should I go this way?

[2020-04-11 06:30] avinsit123 commented on #43
@goru001 will mail you the required stuff mentioned above once we have completed the refining model. Currently we have trained our model using several embeddings for eg: fasttext, roberta , etc. using flair's NLP Library.
It would be also great to add support in inltk so that users to custom train their NER models.

[2020-04-11 07:17] goru001 commented on #41
@parmarsuraj99 yes you can use sentencepiece or Huggingface's tokenizers (https://github.com/huggingface/tokenizers) library.
I've been working on training BERT Hindi model using the tokenizers and transformers library from Huggingface.

[2020-04-12 06:11] goru001 commented on #43
@avinsit123 Sure, will wait for your mail. Thanks!

[2020-04-12 12:30] parmarsuraj99 commented on #41
@goru001 I am really excited to work on that. I believe a trained Hindi model would be really efficient to grasp other regional languages as well, as most are similar.
Really looking forward for it.

[2020-04-18 16:58] octalpixel commented on #43
@avinsit123  Do you have any resources where I can get similar NER dataset for tamil ?

[2020-04-19 05:24] anuragshas commented on #43
@avinsit123 How about using word level inltk embedding and then xgboost to classify the tokens?

[2020-04-20 15:59] Sidaartha opened #44 "error while install inltk"
unable to install inltk as it was not able to find fastai==1.0.57 even though fastai 1.0.60 is installed

**sudo pip install inltk**

[code]

[2020-04-28 10:45] smehta688 commented on #3
@goru001 encountered same error on calling setup(<'code-of-language'>)  in Mac for hindi .
kindly help..??

[2020-04-28 11:48] sidhurukku opened #45 "Stop word functionality"
stop word functionality can be added for indian languages.

[2020-05-06 11:16] goru001 commented on #3
@smehta688 Can you post the Traceback of the error you're getting?

[2020-05-12 09:59] Aditdoshi1 commented on #3
same error,
from inltk.inltk import setup
from inltk.inltk import predict_next_words

setup('hi')
predict_next_words("केंद्र की मोदी सरकार ने", 10, "hi", 0.7)

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-1-048b569dd42d> in <module>
      3
      4 # download models for Gujarat

[2020-05-12 10:33] Aditdoshi1 commented on #3
@smehta688 @jintgeorge @goru001
The error is caused because of pytorch, you have to downgrade pytorch to eliminate the error.
Try this:

conda uninstall pytorch
conda install pytorch==1.3.1 -c pytorch

and then run the same file without setup('hi') line, run the code in Jupyter notebook.
It will show some warnings, but the output will be displayed

[2020-05-21 10:35] Aditdoshi1 opened #46 "Issue with identify_language function"
identify_language() works properly when an English sentence is passed.
When a Hindi/other language sentences are passed, it produces a Runtime Error.
Here is the basic code: -

from inltk.inltk import identify_language
identify_language("हैलो")

**Note:-** I did try adding reset_language_identifying_models() function, but the error persist.

Traceback: -
-------------------------------------------

[2020-06-11 07:28] shaz13 opened #47 "Progress bar on async downloads"
Checking out this amazing work, however downloading models is not transparent. Not sure, if download is broken, or placed where, or the progress. Figured out that its stored in the `models` folder in the site packages dir.

Would be good to have something like `nltk.download` or atleast, steps to setup models offline mode where we can download and unzip it to the respective dir in case of proxy bl

[2020-06-11 17:12] goru001 commented on #47
Thanks @shaz13 for raising this. Do you think adding instructions in README to download models manually and placing them in appropriate directory will be helpful?

[2020-07-02 02:27] balachandragv commented on #46
I faced the same issue and is resolved by installing pytorch 1.3.1 (try conda install pytorch==1.3.1 -c pytorch)

[2020-07-02 02:31] balachandragv opened #48 "Kernel keeps dying while calling identify_language from inltk.inltk"
This is the result from terminal. I have also tried reset_language_identifying_model but the error still persist. Any ideas?

[I 07:51:21.811 NotebookApp] KernelRestarter: restarting kernel (1/5), keep random ports
kernel 78f77a3b-e8c3-4590-9e4e-58f637292b46 restarted
terminate called after throwing an instance of 'std::runtime_error'
  what():  generic_type: cannot initialize type "WorkerId": an

[2020-07-02 06:18] goru001 commented on #48
@balachandragv This doesn't look like an issue with inltk library. Can you check if you have sufficient RAM while you're running this? Can you also monitor CPU usage etc.

[2020-07-02 06:26] balachandragv commented on #48
Hey Gourav.. thanks for your response. My PC has 32 GB of RAM and all cores are not occupied. There were no other kernels running at the time. Tried to check online as well but couldn't find any reason. If I remove the inltk lines of code, it works without any issues. I have set up the language models without any issues.

[2020-07-20 09:32] rhn19 commented on #41
@octalpixel @parmarsuraj99 @goru001 Since iNLTK is more of a pre-processing library, I don't see the need to integrate it with Transformers. As for the trained models provided, TransformerXL models can be loaded with Transformer's AutoModel.from_pretrained() methods. Similarly, tokenizers can be trained using SentencePiece and Tokenizers and can be loaded using AutoTokenizer.from_pretrained() meth

[2020-07-25 07:43] rhn19 opened #49 "Separate Test sets for classification and Possible cleaning"
All the Classification datasets provided lack a separate test set. The reported accuracy is based on the validation set which was used to choose the best baseline model. This may cause issues in model generalization. Hence, there is a need for a separate test set to properly compare accuracy.
Another issue worth checking - The datasets have a few out-of-language characters (for example, Marathi He

[2020-08-07 07:56] goru001 commented on #49
@rhn19 Thanks for reaching out. You're right about the train, val, test split. This was on my radar for a long time. I've changed the datasets against which models were benchmarked. You can check the updated table in README. Regarding cleaning of the datasets, a lot of work in this regard was done over [here](https://github.com/ai4bharat-indicnlp/indicnlp_corpus). So, instead of duplicating the wo

[2020-08-07 07:56] #49 closed

[2020-08-10 08:44] sakurusurya2000 commented on #1
Hi, I can help you with telugu language source

[2020-08-11 11:14] ShivaSankeerth commented on #1
Hi all,
I would like to help you guys in building this project. Can you please let me know where to get started and whom to reach out to.
Thanks.

[2020-09-02 18:32] arijitatiitkgp opened #51 "Getting error while using get_sentence_similarity"
I'm trying to get similar bengali sentences for a given sentence,but when use the code
from inltk.inltk import get_similar_sentences
get_similar_sentences(sentence, no_of_variants, '<code-of-language>', degree_of_aug = 0.1)

getting error: "torch.nn.modules.module.ModuleAttributeError: 'LSTM' object has no attribute '_flat_weights_names'"

[2020-09-02 18:52] #51 closed

[2020-09-02 19:37] Nishant-Pall commented on #44
I believe you have to install fastai alongside.

[2020-09-04 09:31] akksa opened #52 "Dropbox location for Models are not publically available."
I am trying to download the model for tamil Language.
https://github.com/goru001/inltk/blob/3e6bf64ec4d4b2ac8231b52b5548cdf4fb97f70a/inltk/config.py#L36.
the dropbox location is not publically available.

[2020-09-04 09:54] akksa commented on #52
https://www.dropboxforum.com/t5/Dropbox-installs-integrations/My-public-links-are-no-longer-working/td-p/211934

[2020-09-04 18:58] goru001 commented on #52
@akksa Thanks for reporting this. I just checked my account and saw that Dropbox blocked my account because excessive traffic was getting generated on it because of model downloads. I've now upgraded it. You should be able to access it now.

Closing this issue for now. Let me know if you still face any issues.

[2020-09-04 18:58] #52 closed

[2020-09-05 07:05] vermaprashant1 opened #53 "Methods other than tokenize like predict n words, similar sentences are not working in inltk"
It gives
ModuleAttributeError: 'LSTM' object has no attribute '_flat_weights_names'

[2020-09-05 07:45] goru001 commented on #53
@vermaprashant1 Is your torch version correct? I think your torch version is >=1.4 which is causing this issue. iNLTK has a dependency on torch v1.3. Checkout [installation instructions here](https://inltk.readthedocs.io/en/latest/api_docs.html#installation)

[2020-09-07 07:50] goru001 commented on #53
@vermaprashant1 Closing this issue for now as it looks like a dependency issue. Feel free to reopen if there's anything. Thanks!

[2020-09-07 07:50] #53 closed

[2020-09-17 18:59] bnriiitb opened #54 "Transliterated text Language Detection"
Is there a way to detect the language of the transliterated text of an Indian language?

[2020-09-23 10:28] Akshayanti commented on #10
@anuragshas would you have any updates regarding language resources for Kashmiri?

[2020-09-23 11:12] Akshayanti commented on #45
How should this be achieved? I should be able to compile a list of stopwords in languages, but I think more would be required. Are there any DoDs?

[2020-09-23 11:22] anuragshas commented on #10
For Kashmiri there is not enough data available publicly to work on, check on Oscar or Wikipedia dump if there is data available. Last time I had scraped it was only 350 articles

[2020-09-23 11:29] Akshayanti opened #55 "Add support for Classical Languages (Prakrit, Pali)"
[Data Source](http://gretil.sub.uni-goettingen.de/gretil.html) is transliterated in Roman alphabet.

Steps:

- Convert the data from the source into Devnagari script
- Train LM Models

[2020-09-30 17:18] tinasoni112 commented on #46
text='श्रीमान जी , आपके यहां आज 1 जनवरी से लेकर 6 जन'
identify_language(text)

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-11-afb922e51b3c> in <module>
      1 text='श्रीमान जी , आपके यहां आज 1 जनवरी से लेकर 6 जन'
----> 2 identify_language(text)

D:\Softwares\Anaconda3\lib\sit

[2020-09-30 17:20] tinasoni112 commented on #46
Facing above issue, and pytorch version is 1.3.1.

[2020-10-05 02:35] narayanacharya6 commented on #3
Tried to uninstall and install of PyTorch but still run into this issue. Trace below.

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-4-8e7b3034c8db> in <module>()
      1 from inltk.inltk import setup
----> 2 setup('sa')

2 frames
/usr/local/lib/python3.6/dist-packages/inltk/in

[2020-10-08 05:43] goru001 commented on #48
@balachandragv Were you able to resolve this? Sorry I missed notifications for this. If you were still not able to resolve this, it'll be great if you can help me reproduce this error, I'll then be able to help out.

[2020-10-08 05:55] goru001 commented on #46
@tinasoni112 I've seen this happening in jupyter-notebooks. If you run this from python terminal it works fine.  Can you confirm this?

[2020-10-08 06:06] goru001 commented on #45
@Akshayanti Thanks for reaching out. You can checkout [this paper](https://www.aclweb.org/anthology/W18-2502.pdf) which talks extensively about stop words lists in open-source packages, and few related issues.

[2020-10-08 06:07] goru001 commented on #44
@Sidaartha Were you able to resolve this?

[2020-10-10 09:29] goru001 commented on #44
Closing this issue for now. Feel free to reopen if you face this again.

[2020-10-10 09:29] #44 closed

[2020-10-10 10:30] goru001 commented on #48
Closing this for now. Feel free to reopen if you still face this.

[2020-10-10 10:30] #48 closed

[2020-10-10 10:31] goru001 commented on #46
Closing this for now. Feel free to reopen if you still need help.

[2020-10-10 10:31] #46 closed

[2020-10-10 17:02] hariperavali commented on #1
Any previous work done on Tenglish(Telugu typed in English) ? The usage Telugu we converse with on whatsapp etc everyday.

[2020-10-11 17:20] goru001 opened #57 "identify languages doesn't work with Telugu in v0.9"
identify languages function which uses separate model for identifying the languages hasn't been retrained on Telugu in v0.9.
Need to retrain it to support Telugu.

[2020-10-11 17:20] goru001 commented on #57
@Shubhamjain27 Will you be able to take this up?

[2020-10-11 17:23] goru001 commented on #54
With v0.9, this essentially boils down to identifying code-mixed languages correctly.

Currently, identify_languages return english for all code mixed languages in latin script.

[2020-10-12 05:36] goru001 commented on #1
With the latest release of iNLTK, i.e. v0.9 Telugu support has been added, thanks to @Shubhamjain27 .  Hence, closing this issue.

[2020-10-12 05:36] #1 closed

[2020-10-12 05:38] goru001 commented on #1
@hariperavali Tenglish (Telugu+English) support is not there yet, code-mixed support has been added for Hinglish, Tanglish and Manglish in v0.9. Feel free to work on it and raise a PR if you want to.

[2020-10-22 18:17] sara-02 opened #58 "[Error in Sentence & word encoding for Hindi]"
Python: 3.8
torch==1.6.0+cpu
torchvision==0.7.0+cpu
 inltk=0.9
OS: Ubuntu 20

Steps followed: As given in the documentation, https://inltk.readthedocs.io/en/latest/api_docs.html
[code]

[code]
Same error as above occurs when using
[code]

[2020-10-22 22:02] sara-02 commented on #58
A quick update, I tried the same sample code on Kaggle, with the following setting and got the same error.
[code]

Error
[code]

[2020-10-23 07:11] goru001 commented on #58
@sara-02 Your torch version seems to be wrong. Check [installation instructions here](https://inltk.readthedocs.io/en/latest/api_docs.html#installation), you need to install torch v1.3

[2020-10-23 09:37] sara-02 commented on #58
Hey @goru001 I was not able to install the `v1.3`
[code]

[2020-10-23 09:38] sara-02 commented on #58
Which  was `pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`

[2020-10-23 18:53] zmf0507 commented on #58
pip install torch==1.3.0 torchvision==0.4.1 worked for me

[2020-10-23 20:07] sara-02 commented on #58
It seems like an issue with Pytorch and Python version compatibiltiy. When tested on a system with Python3.6 the above installation of torch worked and I got results for embedding, but the same installation does not work for Python 3.8.
Cannot comment about py3.7.

[2020-10-23 20:32] sara-02 commented on #58
Quick update, so I installed Python 3.6 on my system and then performed the above installations. They worked. The setup Hindi part worked as well, but when I tried obtaining the word or sentence embedding, I got a segmentation fault error

[code]

[2020-10-26 18:48] goru001 commented on #58
@sara-02 It seems something's wrong with your environment, but If you can reproduce this error, on lets say colab, then I'll be able to help you out?

Thanks for letting me know that there's an issue with Python 3.8. I'll try and test it out and possibly add it in README. Feel free to add those instructions and raise a PR if you want to!

[2020-10-27 11:20] sara-02 commented on #58
@goru001 https://colab.research.google.com/drive/1xBPsf3jHv00Aa-ZO5nsqWN3NJFNf5U-h?usp=sharing
I tried setting it up with python 3.6 on colab and the session is crashing just like my notebooks were. I am assuming an issue with seg_fault. Please have a look and let me know if I am doing something wrong here.

[2020-10-29 17:58] NikhilSKashyap commented on #3
@narayanacharya6 even I got a similar error. I git cloned the repository and ran the code in my terminal. It worked perfectly. But I received the same error in the jupyter notebook. The problem is with the iPython kernel and asyncio package. This StackOverflow answer gave me some clarity regarding the error -  https://stackoverflow.com/questions/60926440/why-do-i-get-runtimeerror-this-event-loop-i

[2020-10-30 05:41] goru001 commented on #58
@sara-02 Thanks for sharing the notebook. I checked it. I was not able to reproduce this on python version 3.6.3 and 3.6.8, but was able to reproduce on 3.6.9. I also tried this on [Kaggle kernels](https://www.kaggle.com/disisbig/inltk-test) which has python 3.7.6 and there also it seems to be working fine. So I think it has something to do with python version I guess, and will take some time for

[2020-10-30 16:15] sara-02 commented on #58
@goru001 I see. I think we can close this issue and create another issue to track the Python version, meanwhile, I will send a PR requiring the use of specific versions.

[2020-10-30 16:15] #58 closed

[2020-11-03 06:56] vzankhana opened #59 "getting error when first time setup language"
Following exception is raised when I try to setup Gujarati language.

Downloading Model. This might take time, depending on your internet connection. Please be patient.
We'll only do this for the first time.
Traceback (most recent call last):
  File "C:\Users\LENOVO\Anaconda3\lib\site-packages\aiohttp\connector.py", line 1001, in _create_direct_connection
    hosts = await asyncio.shield(host_reso

[2020-11-03 07:09] vzankhana commented on #59
it seems I have openSSL problem on my windows 10. but not able to resolve it. can u please just help?

[2020-11-05 07:51] vzankhana commented on #59
I have solved the problem. Thanks anyway.

[2020-11-05 07:51] #59 closed

[2020-11-15 13:48] diviyalouis commented on #2
Sir I am using get embedded vectors from iNLTK .but i am getting error in setup('ta').kindly help me.I am using it in colab.

[2020-11-23 09:09] sssanthosh107 commented on #3
I also faced the same issue when I tried with Jupiter notebook and colab. When I got the error I left it as it is. after some time I got the message as "done!". post that I tried using the other commands and it was working fine.

[2020-11-23 15:26] lordzuko commented on #57
@goru001 If someone isn't working on this, I can take this up. We can use **pycld2, pycld3** , it identifies all the supported language except: oriya, bengali and sanskrit.

I have used the same in my own projects and it's also used by **polyglot's** language detection.
https://github.com/aboSamoor/polyglot/blob/d0d2aa8/polyglot/detect/base.py#L72

What do you think ?

[2020-11-29 07:27] dheerajmpai opened #60 "How do I split paragraphs into sentences?"
is there a function that helps splitting paragraphs into sentences?

`nltk` has `sent_text` which is reasonably accurate in most of the real-life scenarios. Is there a similar version in iNLTK?

Equivalent code snippet from `nltk`
[code]

[2020-11-30 10:16] goru001 commented on #60
@dheerajmpai I don't think there's out of the box way in iNLTK to do this yet.

[2020-11-30 10:17] goru001 commented on #57
@lordzuko That'll be great! Feel free to raise a PR for this.

[2020-11-30 11:24] anoopkunchukuttan commented on #60
You can find sentence tokenizers for Indian languages in the [Indic NLP Library](https://github.com/anoopkunchukuttan/indic_nlp_library)

[2020-12-06 14:56] kanodiaayush opened #61 "Segmentation Fault"
Hi, I just installed this and tried the following

[code]

This results in a segmentation fault. Can I get an idea on how to debug this?

[2020-12-07 18:54] goru001 commented on #61
@kanodiaayush Thanks for reaching out. Are library versions and dependencies in your environment correct? (mainly pytorch)

[2020-12-15 04:50] purnasai opened #62 "Torch 1.3 installation Issue"
Hi, Thanks for the Amazing Library to work in Indic languages. I got an error while Installing torch 1.3. I followed the Installation instructions from [here](https://inltk.readthedocs.io/en/latest/api_docs.html#installation). Error below
`pip install torch==1.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html`

`Looking in links: https://download.pytorch.org/whl/torch_stable.html`
`ERR

[2020-12-15 06:57] goru001 commented on #62
Thanks @purnasai for reaching out. I tried installing on colab using the exact same command, and it works as expected, as you can [see here](https://colab.research.google.com/drive/17iDMU3dzsXxgkQag-SkqSPRNy2ZheCgh?usp=sharing). Maybe there's something wrong with the package manager on your system?

[2020-12-15 06:58] goru001 commented on #61
Closing this issue for now, Feel free to re-open if there's anything else. Thanks!

[2020-12-15 06:58] #61 closed

[2020-12-16 08:11] purnasai commented on #62
I have python3.8 in my system. looks like torch 1.3 requires python3.7 or before versions. Will try them with creating virtual env. Thank you

[2020-12-16 08:11] #62 closed

[2021-01-04 12:28] goru001 commented on #2
@diviyalouis Sorry I missed the notification for this. Are you still facing the issue? It'll be great if you can post a notebook with steps to reproduce.

[2021-01-04 13:52] DingZengQiang opened #63 "from inltk.inltk import setup setup('hi') raises error"
How to deal with aiohttp.client_exceptions.ClientConnectorError: Cannot connect to host www.dropbox.com:443 ssl:default [Connect call failed ('192.133.77.191', 443)]

[2021-01-05 08:33] goru001 commented on #63
Thanks @DingZengQiang for reaching out. It seems to be working fine on colab. Can you confirm this? If yes then it might be an issue specific to your network?

[2021-01-05 08:45] DingZengQiang commented on #63
Thanks for reply! I also think the problem is my network. Now I am considering using proxies, but don't know where to set.

[2021-01-10 11:23] parthchamp opened #64 "how to access inltk from IDE like pycharm"

[2021-01-11 14:17] sarves commented on #13
Hi,

In case if you are interested in a BiLSTM based Tamil POS tagger (this developed using Stanza framework): https://github.com/sarves/thamizhi-pos
You can find relevant models and tagged data.

Sarves

[2021-01-12 01:30] KARUN014 commented on #1
i need telugu sentiwordnet, i was try in many sites not getting, please help me

[2021-01-12 18:54] goru001 commented on #64
hi @parthchamp - you can clone the github repo of the library and open the folder in pycharm.

[2021-01-12 18:54] #64 closed

[2021-01-12 18:57] goru001 commented on #63
Hope you were able to resolve the issue @DingZengQiang . Closing this issue for now as it isn't specific to the library. Feel free to reopen if there's anything else.

[2021-01-12 18:57] #63 closed

[2021-01-14 04:29] parthchamp opened #65 "Torch throwing an error for all languages other than mixed language"
**torch.nn.modules.module.ModuleAttributeError: 'LSTM' object has no attribute '_flat_weights_names'** error occuring while using Native languages but working fine for mixed languages

[2021-01-14 05:22] goru001 commented on #65
Thanks @parthchamp for reaching out. It seems your pytorch version is incompatible. You need torch==1.3.1 but likely your torch version is >=1.4

[2021-01-14 08:51] parthchamp commented on #65
Thanks @goru001 man for your prompt reply...and ya its working  after installing torch 1.3.1 version

[2021-01-14 15:19] #65 closed

[2021-01-25 14:45] dragonsan17 commented on #51
Hi @arijitatiitkgp ! How did you resolve this?

[2021-02-02 06:59] prakharnigam-hsc opened #66 "Not working with latest torch version 1.7"
Getting below error when identify_language function call for sanskrit words.

  File "C:\Users\e01526\AppData\Local\Programs\Python\Python36\lib\site-packages\inltk\inltk.py", line 77, in identify_language
    learn = load_learner(path / 'models' / 'all')
  File "C:\Users\e01526\AppData\Local\Programs\Python\Python36\lib\site-packages\fastai\basic_train.py", line 626, in load_learner
    res = cla

[2021-02-03 07:10] goru001 commented on #66
@prakharnigam-hsc Thanks for reaching out. iNLTK has a dependency of torch==1.3 as documented [here](https://inltk.readthedocs.io/en/latest/api_docs.html#installation) and won't work with higher versions of torch as of now.

[2021-02-09 04:33] vaibhav6269 opened #67 "Pytorch 1.3 not available to download"
Hi.
PyTorch 1.3 is no longer available to download.
Can you please upgrade the models or suggest how should we use them now?

[2021-02-09 09:16] goru001 commented on #66
Closing this for now. Feel free to re-open if there's anything else. Thanks!

[2021-02-09 09:16] #66 closed

[2021-02-09 09:22] goru001 commented on #67
Thanks @vaibhav6269 for reaching out. I was able to install torch on colab by following steps as documented [here](https://inltk.readthedocs.io/en/latest/api_docs.html#installation). Torch wheels are available [here to download](https://download.pytorch.org/whl/torch_stable.html). Let me know if you still face any issues.

[2021-02-18 07:40] goru001 commented on #67
Closing this issue for now. Feel free to reopen if there's anything else. Thanks!

[2021-02-18 07:40] #67 closed

[2021-02-21 16:19] harsh244 opened #68 "Encoding Devanagri"
Hi,

I don't know if this is the right place for my question, but still posting since this repo is related to indic languages.

I am working on a Speech-to-text system for Maithili and since Maithili is nowadays written in Devnagiri( same as Hindi). I am wondering if this library or any other has the provision for Encoding Maithili sentences. I have gone through the docs and noticed that we can ge

[2021-02-23 08:27] goru001 commented on #68
Thanks @harsh244 for reaching out. Maithili isn't yet supported in iNLTK, but as you said, it has some similarity with other Indic languages, so you can try out working with Hindi embeddings - my best guess at this point is it might not produce best results, but should still work out.

[2021-03-02 19:04] goru001 commented on #68
Closing this issue for now. Feel free to re-open is there's anything else.

[2021-03-02 19:04] #68 closed

[2021-03-08 20:08] devrituraj commented on #3
The problem is with ipython kernel. ipython kernel itself runs on an event loop. The solution is to use  **nest-asyncio** package. I think it should be patched in the package of “__init__.py”  of iNLTk.

I hope this helps.

pip3 install nest_asyncio

import nest_asyncio
nest_asyncio.apply()

[2021-03-10 13:02] jayaBalaR opened #69 "Suppress warnings in console :SourceChangeWarnings"
Environment :- Google Colaboratory
Runtime :- CPU
Installed inltk as directed in the documentation for iNLTK
[code]

We are using the function get_similar_sentences() for our case study. We are running this function for our dataset .Dataset size = 9k split in chunks of 1000 records.
![image](https://user-images.githubusercontent.com/21074002/110633184-77e9f700-81ce-11eb-86a4-647ed13b75af.png)
The

[2021-03-10 17:50] goru001 commented on #69
Thanks @jayaBalaR for reaching out. It won't be right to suppress warnings in the library itself. If you want you can hide all warnings by running this at the start of your notebook (from [here](https://stackoverflow.com/questions/9031783/hide-all-warnings-in-ipython)):

`
import warnings

warnings.filterwarnings('ignore')
`

Additionally, iNLTK depends on torch v1.3 so updating won't help.

About

[2021-03-11 01:41] jayaBalaR commented on #69
@goru001 , Thank you very much for your prompt response.
Actually , we have tried to suppress the warnings by using the code earlier before raising this ticket ,as it did not suppress them.

Now,
1) we have actually segmented my total data_set = 9k into 10 parts . I am running only 1 part of data 1k records, its taking 4 hours + on CPU as per earlier conversation.  Also after trying with CPU on co

[2021-03-11 04:44] goru001 commented on #69
@jayaBalaR I can't really give an ETA on GPU support as my hands are full at least for next 2-3 months to be able to work on that.
I think you should be fine if you run `10 separate notebooks` each one with 1k datapoints, and you should be able to get augmentations for 10k datapoints in ~4 hours, given enough CPU power.

Additionally, there's already [this issue](https://github.com/goru001/inltk/i

[2021-03-12 07:00] jayaBalaR commented on #69
@goru001 , thank you, noted  . We will get back in case of any queries on the same issue.

[2021-03-17 05:19] goru001 commented on #69
Closing this for now since there's already [this issue](https://github.com/goru001/inltk/issues/5) for GPU support, feel free to reopen if there's anything else.

[2021-03-17 05:19] #69 closed

[2021-04-23 23:40] nikhilkmr300 opened #70 "Breaks with PyTorch==1.8.0"
When I try to use the function `get_embedding_vectors`, I get the following error when I use PyTorch v1.8.0:
'LSTM' object has no attribute '_flat_weights_names'.

Somewhere along the release history, PyTorch might have removed this attribute. I've solved the issue temporarily by installing PyTorch v1.3.0 on `conda` and it works now, but a permanent fix would be nice.

Thanks!

[2021-04-23 23:43] nikhilkmr300 commented on #70
Sorry, found this right now in closed issues: https://github.com/goru001/inltk/issues/67.

[2021-04-23 23:43] #70 closed

[2021-04-23 23:46] nikhilkmr300 commented on #67
If `pip` gives trouble and you don't want to install from the wheels, you could use `conda`. The following still works:

[code]

Refer: [Previous PyTorch Versions](https://pytorch.org/get-started/previous-versions/)

[2021-04-28 01:56] nikhilkmr300 opened #71 "English language model throws error. Is there a dependency on a specific version of spacy?"
The `predict_next_words` function throws the following error with English:

[code]

I also tried using the model directly by running `predict` on the pretrained `LanguageLearner` that iNLTK downloads at `en/export.pkl`, but that throws the same error. Looking at the spacy docs, `spacy.blank` currently does not have a parameter called `disable`.

The Hindi language model works fine. I'm guessing th

[2021-05-05 08:32] chiragjn commented on #71
You are correct, spacy 3.x removed `disable` argument on `spacy.blank`. Downgrading to spacy 2.x should fix it

[2021-05-13 21:23] sachin235 opened #73 "Dimension of get_sentence_encoding for Telugu"
The documentation mentions that "get_sentence_encoding returns 400 dimensional encoding of the sentence"
But, in case of Telugu language, get_sentence_encoding return 410 dimensional encoding instead of 400.

Rectify the documentation to avoid confusion!

[2021-05-16 18:15] #73 closed

[2021-06-01 18:17] djsethi09 commented on #70
Hello @nikhilkmr300 Please what is the solution that worked for you?
I get this error with pytorch 1.8.1
'LSTM' object has no attribute '_flat_weights_names

[2021-06-01 20:09] nikhilkmr300 commented on #70
Downgrading the version of PyTorch to 1.3 worked.

I used `conda` with the following command if I recall correctly (refer [this](https://pytorch.org/get-started/previous-versions/#v120)):
[code]

The [iNLTK docs](https://inltk.readthedocs.io/en/latest/api_docs.html) provide a solution if you're using `pip`.

[2021-06-26 17:18] codemaster-22 opened #76 "How to identify whether the text is Hinglish?"
Can you please tell us is there any way to identify if the text is Hinglish ? I went through the code and u are outputting en if we type something in English? Can you please reply asap I am in need of a model which identifies whether it's Hinglish or not.

[2021-06-27 16:39] goru001 commented on #76
Hi @codemaster-22 , thanks for reaching out. Currently for all code-mixed languages in latin script, "en" is returned. There's this [open issue](https://github.com/goru001/inltk/issues/54) as well for it.

[2021-08-19 10:51] nitkannen commented on #57
@goru001 can I take this issue up if it is still unresolved?

[2021-08-24 17:58] goru001 commented on #57
@nitkannen Yes sure, this is still unresolved and it'll be great if you can contribute!

[2021-08-24 18:31] nitkannen commented on #57
Sure @goru001

[2021-08-29 06:19] nitkannen commented on #57
@goru001 can you give me some guidance as to from where I can start to retrain the Telugu model. Any notebooks or scripts used for other languages and data can be really helpful

[2021-09-09 07:02] Nishant01-ai commented on #3
Hi, even after getting  the message "Done!".  The next line to "identify_language" is not working and throwing the same message:
"RuntimeError: This event loop is already running.
@goru001 Kindly suggest.

[2021-09-10 10:10] jayaBalaR opened #79 "get_similar_vectors, get_similar_sentences fails with AttributeError: 'LSTM' object has no attribute '_flat_weights_names'"
I have installed inltk using the following on collaborator run on normal CPU as hardware accelerator. These work fine
![image](https://user-images.githubusercontent.com/21074002/132837592-b27d8401-1b14-4a4e-bd03-88d013354812.png)

But while using the function calls get_similar_vectors or get_similar_sentences it fails
![image](https://user-images.githubusercontent.com/21074002/132837795-e6450c9d-9

[2021-09-25 17:56] goru001 commented on #79
Hi @jayaBalaR , can you double check if you're using the correct torch version? It seems your torch version is >= 1.4

[2021-09-26 07:38] jayaBalaR commented on #79
@goru001  thanks after reverting torch version to less than 1.9 , it works. Hence issue can be closed

[2021-10-01 05:45] #79 closed

[2021-12-12 06:22] RAJAN8553 opened #80 "Why the Get Embedding Vectors method gives us 400 dimensions?"
I search lot of about this question but didn't find any solution that satisfied my question so i want to know about the hole architecture that why this give us a 400 dimensions and what is the reason behind it. Also which weights are important so that solve my further query.
Kindly help me for this.
Thank you.
Rajan Thakkar

[2021-12-12 09:00] goru001 commented on #80
Hi @RAJAN8553 , Thanks for reaching out.

Embedding layer is the first layer of the network which essentially is a map between token ids (of your input sentence) to a vector, which is supposed to be semantic representation of the word in N-dimensional space. Size of this vector (N) is a hyperparameter while training the model, which is 400 in this case. That's why you get 400 dimensional embedding

[2021-12-14 14:46] RAJAN8553 commented on #80
Yes now i understood Thank you @goru001.

[2021-12-15 05:21] RAJAN8553 commented on #80
Yes now i understood Thank you @goru001.
Can I tweak that hyperparameter as i need less dimensional or I have to apply feature extraction method.
Can you suggest good feature extraction method for your model.

[2021-12-15 05:32] RAJAN8553 opened #81 "Dimensionality Reduction"
Yes now i understood Thank you @goru001.
Can I tweak that hyperparameter as i need less dimensional or I have to apply feature extraction method.
Can you suggest good feature extraction method for your model.

Should I reduce the dimension of the data(as the model is giving out 400 vectors for a single sentence). Size of my data is 600(rows, Gujarati language) and after getting 400 vectors for eac

[2021-12-24 09:14] goru001 commented on #81
Hi @RAJAN8553 , you can reduce the dimensionality using [PCA](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) or similar algos.

[2021-12-24 09:15] goru001 commented on #80
Closing this issue as it is being tracked [here](https://github.com/goru001/inltk/issues/81). Feel free to reopen if there's anything else.

[2021-12-24 09:15] #80 closed

[2022-01-27 19:23] Gautamshahi opened #82 "Unable to detect the language"
I am trying to identify the language of the text but the code is not working

![Uploading image.png…]()

[2022-01-29 10:59] goru001 commented on #82
Hi @Gautamshahi , thanks for reaching out! Can you please paste the text of error which you might be getting? The image you tried to upload possibly didn't get uploaded and I'm unable to see it.

[2022-02-01 01:16] adi-t-ya commented on #82
<img width="835" alt="Screen Shot 2022-01-31 at 8 15 41 PM" src="https://user-images.githubusercontent.com/92489614/151898936-f1573027-9dd1-4c8e-962a-135077b40679.png">

[2022-02-01 01:43] adi-t-ya commented on #82
I was able to get rid of the above error by executing this before setup('hi')
import nest_asyncio
nest_asyncio.apply()

But then it throws up a different error message:
![image](https://user-images.githubusercontent.com/92489614/151900529-2047e6b6-9ac3-447e-a710-42e5acc102bf.png)

these errors might be related. Not sure.

[2022-02-02 03:44] goru001 commented on #82
@adi-t-ya  You might see these errors in an interactive environment like jupyter notebook, google colab etc - but if you'll wait for sometime (3-4mins) and then use inltk functionality you should be able to do that.

[2022-02-02 03:45] goru001 commented on #81
Closing this issue for now. Feel free to reopen if there's anything else. Thanks!

[2022-02-02 03:45] #81 closed

[2022-02-03 02:08] adi-t-ya commented on #82
@goru001: I tried that a few times but it did not work for me. Is there a way to make your model compatible with Google Collab and other similar interactive environment?

[2022-02-03 02:47] adi-t-ya commented on #3
@Nishant01-ai : were you able to figure out how to fix the issue?

[2022-02-03 07:53] goru001 commented on #3
Apologies @Nishant01-ai , @adi-t-ya  , @NikhilSKashyap , @narayanacharya6 for missing out on your comments in this thread.

You do get

 error on colab but if you'll wait for 4-5 minutes till the model gets downloaded, and then use inltk functionality normally as you would otherwise, you should be able to do that. I just did this in a [colab notebook](https://colab.research.google.com/drive/17iDMU

[2022-02-03 07:55] goru001 commented on #82
Hi @adi-t-ya - Can you checkout my comment [here](https://github.com/goru001/inltk/issues/3#issuecomment-1028695750), I've shared a [colab notebook](https://colab.research.google.com/drive/17iDMU3dzsXxgkQag-SkqSPRNy2ZheCgh?usp=sharing) which should make it work.

[2022-02-03 10:39] Gautamshahi commented on #3
Still, there is the same error. Even in the shared notebook, I can see the error.

[2022-02-04 00:51] adi-t-ya commented on #3
Hi @goru001, I was not able to run your colab notebook but was able to run it locally on my computer. I am trying to identify hinglish text using _identify_language_ but it seems to classify the text as english. All other languages seem to work fine. Would you know how to fix it?

[2022-02-04 05:49] goru001 commented on #3
Hi @Gautamshahi , @adi-t-ya  - In case my previous comment was not clear, On google colab, you will see the runtime error (as you see in cell 3 of the [notebook](https://colab.research.google.com/drive/17iDMU3dzsXxgkQag-SkqSPRNy2ZheCgh?usp=sharing)), but if you'll wait for 4-5 mins for model to download and then use inltk's functionality (as shown in cell 4 of the [notebook](https://colab.research

[2022-02-04 05:54] goru001 commented on #3
@adi-t-ya To your comment on language identification for code-mixed languages, there is [this](https://github.com/goru001/inltk/issues/54) open issue for this, and there's [this PR](https://github.com/goru001/inltk/pull/77) where it is being worked upon, but no support in master branch as of today.

[2022-03-05 10:02] mirfan899 opened #83 "Wordnet for inltk"
It seems there is no support for wordnet for inltk languages. Do you have plans for this?

[2022-05-11 18:56] DeepikaSharma5 opened #84 "Lemmatization for Tamil language"
I would like to know if iNLTK have lemmatization for Tamil language. If not are there any alternative for that?
Also will inltk work for windows 11?

[2022-05-12 04:47] goru001 commented on #84
Hi @DeepikaSharma5 , iNLTK doesn't specifically support Lemmatization, but you can do it using [stanza](https://stanfordnlp.github.io/stanza/installation_usage.html) if you want.

With respect to usage on Windows, I've seen people use it but haven't tested myself.

[2022-05-13 11:38] TheGhoul27 commented on #3
Hi, I am also getting the same error. I am installing locally on my laptop.
Please help with the issue.

[2022-05-15 21:41] sara-02 opened #85 "[Documentation Typo] The order of installation in official documentation is wrong"
In the installation [section](https://inltk.readthedocs.io/en/latest/api_docs.html#installation), the torch install step is mentioned first, but when inltk installs after this, it replaces the required torch version which leads to the `LSTM` error due to depreciation.
Suggest we fix the order to inltk, followed by torch uninstall and then the torch 1.3 install step.

[2022-07-04 07:30] nitesh18400 commented on #85
Can I work on this issue? I recently encountered this error.

[2022-07-05 06:00] DraymondHIT commented on #85
`!pip install inltk
!pip install torch==1.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html`
This order is ok.

[2022-07-05 06:12] nitesh18400 commented on #85
@DraymondHIT Yes, the correct order should be this.

[2022-07-12 06:48] goru001 commented on #85
Thanks everyone for pointing this out. @nitesh18400 Please feel free to raise a PR. It should be a small change [here](https://github.com/goru001/inltk/blob/master/docs/api_docs.md)

[2022-07-13 06:27] goru001 commented on #85
Thanks @nitesh18400 for raising the PR. I've merged the PR and hence closing this issue. Thanks everyone!

[2022-07-13 06:27] #85 closed

[2022-08-27 07:01] Darshan2104 opened #87 "Contribution for Gujarati-English"
Hey there,
I want to contribute to the inltk.
Is there any way to do it for Gujlish?
Can you guide me on how it can be possible?
As per my knowledge, We need to create a tokenizer and train model on Gujlish dataset. But the point is how do I get the data?!?!
Also, guide me if I'm missing something

Thanks
:)

[2022-11-23 06:55] ShadowVicky opened #88 "How can i contribute?"
@goru001  I want to contribute in the assamese language  ? How to proceeds?

[2022-11-27 11:55] singhakr opened #89 "Adding support for Bhojpuri, Magahi and Maithili"
We would like to release some data and possible some tools for these three languages. How can we do it?

- Anil Kumar Singh

[2022-11-28 18:38] goru001 commented on #89
Thanks for reaching out @singhakr - Do you already have data corpus for these languages?

[2022-11-28 18:40] goru001 commented on #88
Thanks for reaching out @ShadowVicky - Do you want to start by following pointers in this [thread](https://github.com/goru001/inltk/issues/1#issuecomment-477857250)?

[2022-11-28 20:29] singhakr commented on #89
Yes, we have plain text as well as POS tagged and chunked corpus and some
other resources.

On Tue, Nov 29, 2022, 12:08 AM Gaurav Arora ***@***.***>
wrote:

[2022-11-30 18:43] goru001 commented on #89
Thats great @singhakr . Do you want to start by following pointers in this [thread](https://github.com/goru001/inltk/issues/1#issuecomment-477857250)?

[2022-11-30 19:55] singhakr commented on #89
Yes, I would.

On Thu, Dec 1, 2022, 12:14 AM Gaurav Arora ***@***.***> wrote: